
 <div class="container">
    <h1>Datos del Usuario</h1>
    <p>Nombre: {{user.name}}</p>
    <p>Apellido: {{user.surname}}</p>
    <p>Email: {{user.email}}</p>
    <p>Edad: {{user.age}}</p>
    <p>Rol: {{user.role}}</p>
  </div>

